
.bsds-nav-item:has(>button.bs-my-account) .bsds-icon-2x {
  width: 16px;
}

.bsds-nav-item:has(>button.bs-my-account) .bs-my-account svg {
  fill: #666
}

.bsds-nav-item:has(>button.bs-my-account) .bsds-icon-left {
  margin-right: 8px;
}

.bsds-nav-primary .bsds-nav-menu .bsds-nav .bsds-nav-item .bsds-nav-link.bs-my-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  border: 1px solid #ccc;
  border-width: 1px 0 1px 0;
  border-width: .1rem 0 .1rem 0
}

.bsc-utility-nav .bsc-utility-nav-links-list .bsds-nav-item .bsds-nav-link.bs-my-account {
  border: 1px solid #ccc;
  border: .1rem solid #ccc;
  border-width: 1px 0 1px 0;
  padding: 8px 12px;
}

@media only screen and (min-width: 992px) {
  .bsds-nav-item:has(>button.bs-my-account) {
      width:auto
  }

  .bsds-nav-utility .bsds-nav .bsds-nav-item .bsds-nav-link.bs-my-account {
      border: 1px solid #ccc;
      border-width: 0 1px 0 1px;
      border-width: 0 .1rem 0 .1rem;
      display: flex
  }

  .bsc-utility-nav .bsc-utility-nav-links-list .bsds-nav-item .bsds-nav-link.bs-my-account {
      border-width: 0 1px 0 1px;
  }
}

.bsds-search-panel .cmp-search__results {
  position: relative;
  min-width: auto;
  max-height: none;
  left: auto;
  border: 0;
  margin: 0 auto 16px;
}

.bsds-search-panel .cmp-search__item {
  font-family: SST-Roman,sans-serif;
  font-weight: 400;
  padding: 8px 24px;
  color: #000
}

.bsds-search-panel .cmp-search__item-mark {
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  background-color: transparent
}

@media (min-width: 576px) {
  .bsds-search-panel .cmp-search__item {
      padding-left:40px;
  }
}

@media (min-width: 992px) {
  .bsds-search-panel .cmp-search__results {
      max-width:960px;
  }
}

@media (min-width: 1200px) {
  .bsds-search-panel .cmp-search__results {
      max-width:1140px;
  }
}

@media (min-width: 1400px) {
  .bsds-search-panel .cmp-search__results {
      max-width:1320px;
  }
}

.bsds-skip-link {
  border: 0;
  padding: 0;
  background: 0 0;
  color: #0153cc;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-align: left;
  position: absolute;
  top: -50px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 8px;
  background: #f2f2f2;
  text-decoration: underline;
  font-size: 16px;
}

.bsds-skip-link:hover {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.bsds-skip-link:active {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.bsds-skip-link:focus {
  outline: 2px solid #0153cc;
  outline-offset: 2px;
  -webkit-box-shadow: none;
  box-shadow: none
}

@media screen and (min-width: 992px) {
  .bsds-skip-link {
      font-size:18px;
  }
}

.bsds-skip-link:focus {
  position: relative;
  top: 0;
  outline: 0;
  box-shadow: inset 0 0 0 .2rem #0153cc
}

.bsds-skip-link:hover {
  background: #f2f2f2
}

.bsds-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  padding: 12px 24px 11px;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-color: #0153cc;
  background: #fff;
  color: #0153cc;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900
}

.bsds-button:not([disabled]):hover {
  border-color: transparent;
  background: #012965;
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.bsds-button:not([disabled]):active {
  border-color: transparent;
  background: #012965;
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.bsds-button.bsds-button-small {
  border-width: 1px;
  padding: 8px 12px;
  font-size: 14.5px;
}

.bsds-button:not([disabled]):focus {
  outline: 2px solid #0153cc;
  outline-offset: 2px;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-button[disabled] {
  border-color: #ccc;
  background: #f2f2f2;
  color: #666;
  font-family: SST-Roman,sans-serif;
  font-weight: 400;
  cursor: not-allowed
}

.bsds-button-assertive {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  padding: 12px 24px 11px;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-color: transparent;
  background: #0153cc;
  color: #fff
}

.bsds-button-assertive:not([disabled]):hover {
  border-color: transparent;
  background: #012965;
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.bsds-button-assertive:not([disabled]):active {
  border-color: transparent;
  background: #012965;
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.bsds-button-assertive.bsds-button-small {
  border-width: 1px;
  padding: 8px 12px;
  font-size: 14.5px;
}

.bsds-button-assertive:not([disabled]):focus {
  outline: 2px solid #0153cc;
  outline-offset: 2px;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-button-assertive[disabled] {
  border-color: #ccc;
  background: #f2f2f2;
  color: #666;
  font-family: SST-Roman,sans-serif;
  font-weight: 400;
  cursor: not-allowed
}

.bsds-button-subtle {
  border: 0;
  padding: 0;
  background: 0 0;
  color: #0153cc;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-align: left;
  border-color: transparent;
  padding: 0;
  background: 0 0;
  text-decoration: none
}

.bsds-button-subtle:hover {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.bsds-button-subtle:active {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.bsds-button-subtle:focus {
  outline: 2px solid #0153cc;
  outline-offset: 2px;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-button-subtle:not([disabled]):focus {
  outline: 2px solid #0153cc;
  outline-offset: 2px;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-button-subtle[disabled] {
  border-color: #ccc;
  background: #f2f2f2;
  color: #666;
  font-family: SST-Roman,sans-serif;
  font-weight: 400;
  cursor: not-allowed
}

.bsds-button-subtle:not([disabled]):active,.bsds-button-subtle:not([disabled]):hover {
  text-decoration: underline;
  background: 0 0
}

.bsds-button-subtle:not([disabled]):hover {
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem;
  cursor: pointer;
  color: #0153cc
}

.bsds-button-subtle:not([disabled]):active {
  color: #000
}

.bsds-button-subtle[disabled] {
  border: 0;
  background: 0 0
}

.bsds-button-icon {
  border-radius: 50%;
  padding: 16px;
  padding: 1.6rem
}

.bsds-button-text {
  border: 0;
  padding: 0;
  background: 0 0;
  color: #0153cc;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-align: left;
  border-color: transparent;
  padding: 0;
  background: 0 0;
  text-decoration: none;
  padding: 0
}

.bsds-button-text:hover {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-button-text:active {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-button-text:focus {
  outline: 2px solid #0153cc;
  outline: .2rem solid #0153cc;
  outline-offset: 2px;
  outline-offset: .2rem;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-button-text:not([disabled]):focus {
  outline: 2px solid #0153cc;
  outline: .2rem solid #0153cc;
  outline-offset: 2px;
  outline-offset: .2rem;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-button-text[disabled] {
  border-color: #ccc;
  background: #f2f2f2;
  color: #666;
  font-family: SST-Roman,sans-serif;
  font-weight: 400;
  cursor: not-allowed
}

.bsds-button-text:not([disabled]):active,.bsds-button-text:not([disabled]):hover {
  text-decoration: underline;
  background: 0 0
}

.bsds-button-text:not([disabled]):hover {
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem;
  cursor: pointer;
  color: #0153cc
}

.bsds-button-text:not([disabled]):active {
  color: #000
}

.bsds-button-text[disabled] {
  border: 0;
  background: 0 0
}

.bsds-button-text:not([disabled]):active,.bsds-button-text:not([disabled]):hover {
  background: 0 0;
  color: #007db3;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-button-text.bsds-button-small {
  padding: 0
}

.bsds-button.bs-button-full-width {
  width: 100%
}

.bsds-link {
  border: 0;
  padding: 0;
  background: 0 0;
  color: #0153cc;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-align: left
}

.bsds-link:hover {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-link:active {
  background: 0 0;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-link:focus {
  outline: 2px solid #0153cc;
  outline: .2rem solid #0153cc;
  outline-offset: 2px;
  outline-offset: .2rem;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-link-subtle {
  border: 0;
  padding: 0;
  background: 0 0;
  color: #000;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900;
  text-align: left;
  text-decoration: none
}

.bsds-link-subtle:hover {
  background: 0 0;
  color: #0153cc;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-link-subtle:active {
  background: 0 0;
  color: #0153cc;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-thickness: .2rem
}

.bsds-link-subtle:focus {
  outline: 2px solid #0153cc;
  outline: .2rem solid #0153cc;
  outline-offset: 2px;
  outline-offset: .2rem;
  -webkit-box-shadow: none;
  box-shadow: none
}

.bsds-link-nav {
  border: 0;
  padding: 0;
  background: 0 0;
  font-family: SST-Roman,sans-serif;
  font-weight: 400;
  color: #000;
  text-align: left;
  text-decoration: none
}

.bsds-link-nav:hover {
  background: 0 0;
  color: #000;
  text-decoration: underline
}

.bsds-link-nav:active {
  background: 0 0;
  color: #000;
  text-decoration: underline
}

.bsds-link-nav.active {
  font-family: SST-Heavy,sans-serif;
  font-weight: 900
}

body:has(.openFlyout),html:has(.openFlyout) {
  overflow-y: hidden
}

#bs-flyout-container>.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%
}

#bs-flyout-container>.container::before {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  content: ""
}

#bs-flyout-container>.container>div {
  position: fixed;
  box-sizing: border-box;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-box-shadow: 0 .125rem .625rem 0 rgba(0,0,0,.2);
  box-shadow: 0 .125rem .625rem 0 rgba(0,0,0,.2);
  padding: 24px;
  background-color: #fff
}

#bs-flyout-container>.container.openFlyout {
  z-index: 1002;
  display: block
}

#bs-flyout-container .bs-welcome-text {
  color: #000;
  margin-top: 12px;
  margin-top: 1.2rem
}

#bs-flyout-container .cmp-text p {
  margin-top: 16px;
  margin-top: 1.6rem;
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
  line-height: 1.5
}

#bs-flyout-container .cmp-text p:has(a) {
  margin-top: 12px;
  margin-top: 1.2rem
}

#bs-flyout-container .cmp-button {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.5
}

#bs-flyout-container button[type=button] {
  margin-top: 24px;
}

#bs-flyout-container .bs-d-block {
  display: block;
  font-size: 16px;
  font-weight: 900;
}

#bs-flyout-container .aem-GridColumn {
  padding-right: 0;
  padding-left: 0
}

#bs-flyout-container .cmp-text a {
  color: #0153cc;
  text-decoration: underline;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900
}

#bs-flyout-container .cmp-text a:hover {
  color: #000
}

#bs-flyout-container .bs-flyout-link {
  color: #000
}

.bs-icon-arrow-out::before {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(icon-arrow-signout.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  content: "";
}

.bs-button-full-width {
  width: 100%
}

.bsds-separator {
  margin-top: 24px;
  margin-top: 2.4rem;
  border-top: 1px solid #ccc;
  border-top: .1rem solid #ccc
}

.bs-flyout-title {
  grid-area: title;
  grid-row: span 2;
  -ms-flex-item-align: center;
  align-self: center;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 26.549px;
  font-family: SST-Heavy,sans-serif;
  font-weight: 900
}

.bs-flyout-header {
  display: grid;
  grid-template-areas: "logo close" "title close";
  grid-template-columns: 1fr auto;
  grid-gap: 1.5rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 15px;
  gap: 1.5rem
}

.bs-flyout-close.bs-flyout-close {
  grid-area: close;
  display: inline-flex;
  border-width: 0;
  padding: 17px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-position: center;
}
.bs-flyout-close.bs-flyout-close svg{width:16px; height:16px;}
.bs-flyout-close.bs-flyout-close:hover {
  border-color: transparent;
  background: #012965;
  color: #fff;
  text-decoration: none;
  cursor: pointer
}
.bs-flyout-close.bs-flyout-close:hover svg{
  fill:red;
}

.bs-hide {
  display: none!important;
  visibility: hidden
}

  #bs-flyout-container>.container>div {
      width:420px
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    border-bottom: 1px solid #000;
}
